body {
    background-color: #fffbf7;
    background-image: url("https://blogs.esa.int/space19plus/files/2019/03/nebula.jpg");
}

h1 {
    color: blue;
}

h2 {
    color: #9daf95;
}
h3 {
    color: #9daf95;
}
h4 {
    color: #9daf95;
}
h5 {
    color: #9daf95;
}
h6 {
    color: #9daf95;
}


p {
    color: #cf9e9ecc;
}

button {
    color: #fff;
    background-color: #57022c;
}